*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.container{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 34rem;
}

.text{
	position: relative;
	left: 50px;
	top: 30px;
}
.w3-btn{
	outline: none!important;
}